<div class="staticPage" id="Results">

  <div class="row surveyRow">
    <div class="col-md-12">

      <h1 class="text-center">Sondage - Suis-je prêt?</h1><hr class="featurette-divider" /><p>Cherchez-vous à savoir si le mode de vie en résidence pour retraités est la meilleure option pour vous à cette étape-ci de votre vie? Dans l’affirmative, faites le sondage « Suis-je prêt? »</p>

      <hr />

      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <form class="formIsItTime formBig" id="QuestionnaireForm">
        <div class="step">
          <div class="bs-example">
            <ol><li> Vous arrive-t-il de ne pas vous sentir en sécurité, de vous sentir isolé ou d’éprouver des sentiments de solitude parce que vous vivez seul?</li></ol>
          </div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q1" value="2" />&nbsp;Souvent</label><label class="radio-inline"><input type="radio" name="q1" value="1" />&nbsp;Parfois</label><label class="radio-inline"><input type="radio" name="q1" value="3" />&nbsp;Jamais</label>
            <div id="a1" class="errormsg"></div>
          </div>

          <div class="bs-example">
            <ol start="2"><li> Avez-vous souvent besoin d’aide pour les tâches ménagères, par exemple pour cuisiner ou faire le ménage?</li></ol>
          </div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q2" value="2" />&nbsp;Souvent</label><label class="radio-inline"><input type="radio" name="q2" value="1" />&nbsp;Parfois </label><label class="radio-inline"><input type="radio" name="q2" value="3" />&nbsp;Jamais</label>
            <div id="a2" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="3"><li> Pouvez-vous gérer les travaux d’extérieur, comme le jardinage, l’entretien de la pelouse et le déneigement?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q3" value="2" />&nbsp;Non, j’ai de la difficulté à y arriver</label>
            <label><input type="radio" name="q3" value="1" />&nbsp;J’aurais parfois besoin d’une aide additionnelle</label>
            <label><input type="radio" name="q3" value="3" />&nbsp;Oui, je peux gérer les travaux d’extérieur</label>
            <div id="a3" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="4"><li> À quelle fréquence pratiquez-vous vos passe-temps et activités préférés?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q4" value="2" />&nbsp;Rarement </label><label class="radio-inline"><input type="radio" name="q4" value="1" />&nbsp;Parfois </label><label class="radio-inline"><input type="radio" name="q4" value="3" />&nbsp;Souvent </label>
            <div id="a4" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="5"><li> Avez-vous récemment fait une chute ou eu un problème de santé ayant exigé une hospitalisation?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q5" value="2" />&nbsp;Oui</label><label class="radio-inline"><input type="radio" name="q5" value="1" />&nbsp;Pas récemment, mais cela m’est déjà arrivé</label><label class="radio-inline"><input type="radio" name="q5" value="3" />&nbsp;Non</label>
            <div id="a5" class="errormsg"></div>
          </div>
        </div>

        <div class="step">
          <div class="bs-example"><ol start="6"><li> Prenez-vous des médicaments? Le cas échéant, avez-vous de la difficulté à ne pas oublier de les prendre au moment indiqué?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q6" value="2" />&nbsp;Oui, souvent</label>
            <label><input type="radio" name="q6" value="1" />&nbsp;Oui, parfois</label><label><input type="radio" name="q6" value="3" />&nbsp;Non, je ne prends pas de médicaments ou je n’oublie jamais de les prendre</label>
            <div id="a6" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="7"><li> DVoyez-vous souvent des amis ou des membres de votre famille au cours de la journée, de la semaine ou du mois?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q7" value="2" />&nbsp;Non, rarement</label><label class="radio-inline"><input type="radio" name="q7" value="1" />&nbsp;Périodiquement</label><label class="radio-inline"><input type="radio" name="q7" value="3" />&nbsp;Oui, souvent</label>
            <div id="a7" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="8"><li> Trouvez-vous cela difficile de vous déplacer dans votre résidence actuelle?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q8" value="1" />&nbsp;Souvent</label><label class="radio-inline"><input type="radio" name="q8" value="2" />&nbsp;Parfois</label><label class="radio-inline"><input type="radio" name="q8" value="3" />&nbsp;Jamais</label>
            <div id="a8" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="9"><li> Pouvez-vous facilement utiliser l’escalier dans votre résidence actuelle?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q9" value="2" />&nbsp;Non, je trouve cela très difficile</label>
            <label><input type="radio" name="q9" value="1" />&nbsp;La plupart du temps je n’ai pas de problème, mais je préférerais ne pas avoir à l’utiliser</label>
            <label><input type="radio" name="q9" value="3" />&nbsp;Oui, je peux l’utiliser sans problème</label>
            <div id="a9" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="10"><li> Avez-vous besoin d’aide pour payer vos factures?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q10" value="2" />&nbsp;Jamais</label><label class="radio-inline"><input type="radio" name="q10" value="1" />&nbsp;Parfois</label><label class="radio-inline"><input type="radio" name="q10" value="3" />&nbsp;Souvent</label>
            <div id="a10" class="errormsg"></div>
          </div>
        </div>

        <div class="step">
          <div class="bs-example"><ol start="11"><li> Prenez-vous actuellement trois repas équilibrés par jour?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q11" value="2" />&nbsp;Souvent</label><label class="radio-inline"><input type="radio" name="q11" value="1" />&nbsp;Parfois</label><label class="radio-inline"><input type="radio" name="q11" value="3" />&nbsp;Jamais</label>
            <div id="a11" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="12"><li> Avez-vous la possibilité de participer régulièrement à des activités physiques pour répondre à vos besoins en exercice?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q12" value="2" />&nbsp;Non, mais cela serait grandement bénéfique pour moi si je pouvais en faire davantage</label>
            <label><input type="radio" name="q12" value="1" />&nbsp;D’une certaine manière, j’ai une activité physique suffisante, mais cela serait bénéfique pour moi si j’en faisais plus</label>
            <label><input type="radio" name="q12" value="3" />&nbsp;Oui, j’ai une activité physique suffisante pour répondre à mes besoins</label>
            <div id="a12" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="13"><li> Vous sentez-vous souvent mal à l’aise ou incapable de conduire un véhicule?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q13" value="2" />&nbsp;Oui, une aide au transport serait très bénéfique pour moi</label>
            <label><input type="radio" name="q13" value="1" />&nbsp;Parfois, oui, mais cela m’aiderait beaucoup d’avoir quelqu’un qui me conduise</label>
            <label><input type="radio" name="q13" value="3" />&nbsp;Non, je suis très à l’aise de conduire un véhicule</label>
            <div id="a13" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="14"><li> Vous sentiriez-vous plus à l’aise si vous viviez dans une résidence pour retraités offrant de l’aide et des mesures de sécurité, plutôt que de vivre seul?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q14" value="2" />&nbsp;Oui</label><label class="radio-inline"><input type="radio" name="q14" value="1" />&nbsp;Pas pour le moment</label><label class="radio-inline"><input type="radio" name="q14" value="3" />&nbsp;Non</label>
            <div id="a14" class="errormsg"></div>
          </div>
        </div>
        <hr />
        <div class="col-md-4 text-left"><div class="action back btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Arrière</div></div>
        <div class="col-md-8 text-right"><div class="action next btn btn-default">Prochain  <span class="glyphicon glyphicon-chevron-right"></span></div></div>


        <div id="error"></div> <div class=" text-right"> <div id="surveyReady" class="action btn btn-default amiready">Voir les recommandations &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></div> </div>
      </form>
    </div>
  </div>

  <div class="row"> <div class="col-md-12"> <div class="text-center"> <hr class="featurette-divider" /> </div> </div> </div>


  <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Voir les recommandations</h4>
        </div>
        <div class="modal-body" id="description">
          <div id="modalContent"></div>
        </div>
      </div>
    </div>
  </div>


</div><!-- staticPage -->

<script>
  chartwellLang = "fr";
  chartwellContext = "amIReady";
</script>
<script src="~/Assets/js/chartwell/questionnaire.js"></script>