<div class="staticPage">
  <!-- id="Results"> -->

  <div class="row surveyRow">
    <div class="col-md-12">

      <h1 class="text-center">"Am I Ready?" Questionnaire</h1><hr class="featurette-divider" /><p>If you're wondering whether a retirement living lifestyle is the best option for you at this stage in your life, take our "Am I Ready?" questionnaire. </p>

      <hr />

      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <form class="formIsItTime formBig" id="QuestionnaireForm">
        <div class="step">
          <div class="bs-example">
            <ol><li> How often do you feel unsafe, isolated or lonely living on your own?</li></ol>
          </div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q1" value="2" />&nbsp;Never</label><label class="radio-inline"><input type="radio" name="q1" value="1" />&nbsp;Sometimes</label><label class="radio-inline"><input type="radio" name="q1" value="3" />&nbsp;Often</label>
            <div id="a1" class="errormsg"></div>
          </div>

          <div class="bs-example">
            <ol start="2"><li> Do you often need help with household chores, such as cooking and cleaning?</li></ol>
          </div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q2" value="2" />&nbsp;Never</label><label class="radio-inline"><input type="radio" name="q2" value="1" />&nbsp;Sometimes </label><label class="radio-inline"><input type="radio" name="q2" value="3" />&nbsp;Often</label>
            <div id="a2" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="3"><li> Can you manage your outdoor housework, such as gardening, lawn maintenance and snow shoveling?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q3" value="2" />&nbsp;Yes, I can take care of my outdoor housework</label>
            <label><input type="radio" name="q3" value="1" />&nbsp;Sometimes, I could use some additional help</label>
            <label><input type="radio" name="q3" value="3" />&nbsp;No, I have trouble</label>
            <div id="a3" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="4"><li> How often do you participate in your favourite hobbies and activities?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q4" value="2" />&nbsp;Often </label><label class="radio-inline"><input type="radio" name="q4" value="1" />&nbsp;Sometimes </label><label class="radio-inline"><input type="radio" name="q4" value="3" />&nbsp;Rarely </label>
            <div id="a4" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="5"><li> Have you recently experienced a fall or a health concern that required hospitalization?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q5" value="2" />&nbsp;No</label><label class="radio-inline"><input type="radio" name="q5" value="1" />&nbsp;Not recently, but I have before</label><label class="radio-inline"><input type="radio" name="q5" value="3" />&nbsp;Yes</label>
            <div id="a5" class="errormsg"></div>
          </div>
        </div>

        <div class="step">
          <div class="bs-example"><ol start="6"><li> Do you take any medications? If so, do you ever have trouble remembering to take them at the appropriate times?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q6" value="2" />&nbsp;No, I don't take medication or I'm always good at remembering</label>
            <label><input type="radio" name="q6" value="1" />&nbsp;Yes, sometimes</label><label><input type="radio" name="q6" value="3" />&nbsp;Yes, often</label>
            <div id="a6" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="7"><li> Do you get to see friends and family often throughout the day, week or month?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q7" value="2" />&nbsp;Yes, frequently</label><label class="radio-inline"><input type="radio" name="q7" value="1" />&nbsp;Periodically</label><label class="radio-inline"><input type="radio" name="q7" value="3" />&nbsp;No, rarely</label>
            <div id="a7" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="8"><li> Do you find it difficult to move around your current home?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q8" value="1" />&nbsp;Never</label><label class="radio-inline"><input type="radio" name="q8" value="2" />&nbsp;Sometimes</label><label class="radio-inline"><input type="radio" name="q8" value="3" />&nbsp;Often</label>
            <div id="a8" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="9"><li> Are you comfortable using the stairs in your current home?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q9" value="2" />&nbsp;Yes, using the stairs is an easy task for me</label>
            <label><input type="radio" name="q9" value="1" />&nbsp;Sometimes, but I wish I didn't have to use them at all</label>
            <label><input type="radio" name="q9" value="3" />&nbsp;No, I find it very difficult to use the stairs</label>
            <div id="a9" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="10"><li> Do you require assistance to pay bills?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q10" value="2" />&nbsp;Never</label><label class="radio-inline"><input type="radio" name="q10" value="1" />&nbsp;Sometimes</label><label class="radio-inline"><input type="radio" name="q10" value="3" />&nbsp;Often</label>
            <div id="a10" class="errormsg"></div>
          </div>
        </div>

        <div class="step">
          <div class="bs-example"><ol start="11"><li> Do you currently eat three well-balanced meals per day?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q11" value="2" />&nbsp;Often</label><label class="radio-inline"><input type="radio" name="q11" value="1" />&nbsp;Sometimes</label><label class="radio-inline"><input type="radio" name="q11" value="3" />&nbsp;Never</label>
            <div id="a11" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="12"><li> Do you have the ability to participate in regular physical activity to meet your fitness needs?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q12" value="2" />&nbsp;Yes, I participate in enough physical activities to meet my needs</label>
            <label><input type="radio" name="q12" value="1" />&nbsp;Some, but I could benefit from more fitness options</label>
            <label><input type="radio" name="q12" value="3" />&nbsp;No, and I would benefit greatly from the accessibility if I had it</label>
            <div id="a12" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="13"><li> Do you often feel uncomfortable or unable to drive around on your own?</li></ol></div>
          <div class="question listReport">
            <label><input type="radio" name="q13" value="2" />&nbsp;No, I'm very comfortable driving myself around</label>
            <label><input type="radio" name="q13" value="1" />&nbsp;Sometimes, but having someone drive for me would help a lot</label>
            <label><input type="radio" name="q13" value="3" />&nbsp;Yes, I could benefit from transportation assistance</label>
            <div id="a13" class="errormsg"></div>
          </div>

          <div class="bs-example"><ol start="14"><li> Would you feel more comfortable living in a retirement community that offers support and security rather than living at home by yourself?</li></ol></div>
          <div class="question listReport">
            <label class="radio-inline"><input type="radio" name="q14" value="2" />&nbsp;No</label><label class="radio-inline"><input type="radio" name="q14" value="1" />&nbsp;Not at the moment</label><label class="radio-inline"><input type="radio" name="q14" value="3" />&nbsp;Yes</label>
            <div id="a14" class="errormsg"></div>
          </div>
        </div>
        <hr />
        <div class="col-md-4 text-left"><div class="action back btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Back</div></div>
        <div class="col-md-8 text-right"><div class="action next btn btn-default">Next <span class="glyphicon glyphicon-chevron-right"></span></div></div>


        <div id="error"></div> <div class=" text-right"> <div id="surveyReady" class="action btn btn-default amiready">View Recommendations &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></div> </div>
      </form>
    </div>
  </div>

  <div class="row"> <div class="col-md-12"> <div class="text-center"> <hr class="featurette-divider" /> </div> </div> </div>

  <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Recommendations</h4>
        </div>
        <div class="modal-body" id="description">
          <div id="modalContent"></div>
        </div>
      </div>
    </div>
  </div>

</div><!-- staticPage -->
<script>
  chartwellLang = "en";
  chartwellContext = "amIReady";
</script>
<script src="~/Assets/js/chartwell/questionnaire.js"></script>