<div class="container-fluid top-banner" id="OpenHousePromo">
  <div class="row">
    <div class="content text-right col-xs-4">
      <img src="~/Assets/Images/Open-house/openhouse-spring2019.JPG" class="promoImg"/>
    </div>
    <div class="content text-left col-xs-8">
      <h4>
        National Open House:
        <strong>
          SUNDAY APRIL 7, 1 - 4 PM
        </strong>
        <small>*Chartwell Long Term Care homes in Ontario will not be hosting Open House events.</small>
      </h4>
    </div>
  </div><!-- / .row -->
</div><!-- / .container-fluid.top-banner -->