<div class="container-fluid top-banner" id="OpenHousePromo">
  <div class="row">
    <div class="content text-right col-xs-4">
      <img src="~/Assets/Images/Open-house/openhouse-spring2019.JPG" class="promoImg" />
    </div>
    <div class="content text-left col-xs-8">
      <h4>
        Portes ouvertes nationales:
        <strong>DIMANCHE 7 AVRIL, 13H À 16H</strong>
        <small>*Les centres de soins de longue durée Chartwell en Ontario ne tiendront pas de portes ouvertes.</small>
      </h4>
    </div>
  </div><!-- / .row -->
</div><!-- / .container-fluid.top-banner -->