<table class="table table-striped suitesPlan">
<thead>
	<tr> 
		<th>Suite Type</th>
		<th>Download Suite Plan</th>
	</tr>
</thead>
<tr>
	<td><h4>1 Bedroom</h4></td>
	<td><a href="-/media/27602EADAEF14AC1976301BFC7EBA276.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
</tr>
<tr>
	<td><h4>1 Bed. + Den</h4></td>
	<td><a href="-/media/963954F970CA45BB9FB94476048E584B.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bed. + Den Suite plans</a></td>
</tr>
<tr>
	<td><h4>2 Bedroom</h4></td>
	<td><a href="--/media/78ADDAAB2EB8490E970B070080DF43FD.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
</tr>
</table>