<table class="table table-striped suitesPlan">
<thead>
	<tr> 
		<th>Types de suites</th>
		
		<th>Téléchargez les plans</th>
	</tr>
</thead>
<tr>
	<td><h4>Studio</h4></td>
	
	<td><a href="-/media/78DCE3A63CB4429C99850E5DBA66F297.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
</tr>
<tr>
	<td><h4>3 1/2</h4></td>
	
	<td><a href="-/media/7A0D8E59F330487A97073A090DE6C19D.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
</tr>
<tr>
	<td><h4>4 1/2</h4></td>
	
	<td><a href="-/media/6FCACD2F5E9542F7A236A77F9DF21966.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
</tr>

</table>