<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio</h4></td>

    <td><a href="-/media/BD23E265129E41A697B46BAF4F89258B.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
  </tr>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/8092D09777AF41BBAA679B5A918B727F.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/6197BE58C6C14AFE922B9D3D1ED596CC.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
</table>