<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio Suite</h4></td>

    <td><a href="-/media/BD23E265129E41A697B46BAF4F89258B.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/8092D09777AF41BBAA679B5A918B727F.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/6197BE58C6C14AFE922B9D3D1ED596CC.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
</table>