<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio</h4></td>

    <td><a href="-/media/79CFA2121C0F41589735F4A013261F0E.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
  </tr>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/EF21FB59BE2F4194B8982CE767829AE4.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/E46F68C030B746D2A23952202EA4821D.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
  <tr>
    <td><h4>Memory Living</h4></td>

    <td><a href="-/media/33E7C15280E744698A8BAA092E446216.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des Memory Living</a></td>
  </tr>
</table>