<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio</h4></td>

    <td><a href="-/media/357D58BF98BB4553870E6932A2AD2FF9.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
  </tr>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/DFD957E7EDD349AAAA3124EC2797CCC9.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/062D9CFE0AA74C64A1846370A0D39AFD.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
  <tr>
    <td><h4>5 1/2</h4></td>

    <td><a href="-/media/4254F488C17843A9816073638481013C.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 5 1/2</a></td>
  </tr>
</table>