<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio Suite</h4></td>

    <td><a href="-/media/2561AFF262BC4AF0A9DE0A1A60398AF5.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/2C75CDB8E4854B79B89F30BFFCA29CD3.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/C5160B20B3D146DB94026B741848FC05.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>3 Bedroom</h4></td>

    <td><a href="-/media/441810A0ABDA4BA5B9C6ABA5A741105C.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 3 Bedroom Suite plans</a></td>
  </tr>
</table>
<h3 class="PricesSecondTitle">Prestige Apartments</h3>
<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio</h4></td>

    <td><a href="-/media/DA74D7C3588043DE866B67D5BCB7026A.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/6E5D5D576BE743E88D9673413FE027B5.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/F6244B7999C14D52A37C4EA17A871261.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>3 Bedroom</h4></td>

    <td><a href="-/media/5EAE75AB8C5D4D97ACF6957BAEDC0E6D.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 3 Bedroom Suite plans</a></td>
  </tr>
</table>