<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio</h4></td>

    <td><a href="-/media/AEBCA1CF0D124E9A93593024AC683EA3.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
  </tr>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/56DE20D0171D4F3FB183E8A2CB156AFB.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/2FFEE7199C6E44D48C44A1616A251E98.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
</table>
<h3 class="PricesSecondTitle">Appartements de prestige</h3>
<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/303A8385D5344FCEB26C40734F8C8216.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/ED01071DEC6940329274241E0286D936.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
</table>