<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio</h4></td>

    <td><a href="-/media/2AD1D1B48E294799AD39AC2F4B711A49.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
  </tr>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/7B535081D8C44A5B89E4A22E0367F6C0.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/3CBC33277567435ABB7801BAD8A2065C.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
</table>
<h3 class="PricesSecondTitle">Appartements de prestige</h3>
<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Types de suites</th>

      <th>Téléchargez les plans</th>
    </tr>
  </thead>
  <tr>
    <td><h4>3 1/2</h4></td>

    <td><a href="-/media/E9A45F37D82E490BAE785A2E11A54F5E.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
  </tr>
  <tr>
    <td><h4>4 1/2</h4></td>

    <td><a href="-/media/C64D6261D2864FBCA3FE60804AE0E7AB.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
  </tr>
</table>