<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio Suite</h4></td>

    <td><a href="-/media/AEBCA1CF0D124E9A93593024AC683EA3.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/56DE20D0171D4F3FB183E8A2CB156AFB.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/2FFEE7199C6E44D48C44A1616A251E98.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
</table>
<h3 class="PricesSecondTitle">Prestige Apartments</h3>
<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/303A8385D5344FCEB26C40734F8C8216.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/ED01071DEC6940329274241E0286D936.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
</table>