<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio Suite</h4></td>

    <td><a href="-/media/703FFB3F268C4612918475219DC6EF06.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/3976044821C64BCEAE895970ADF96BE6.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/E1C3B77CF894498DB08F87DF6BCC69ED.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>3 Bedroom</h4></td>

    <td><a href="-/media/BFDA56F27CA84721821543982DFC4A86.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 3 Bedroom Suite plans</a></td>
  </tr>
</table>

<h3 class="PricesSecondTitle">Phase II Suites</h3>
<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio Suite</h4></td>

    <td><a href="-/media/75A5AE45A45144B383160B5AC3F32C60.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/33FBE539140646AD9483214804C41654.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/2341F45AB07A4D96A4CEBA4674C56706.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>3 Bedroom</h4></td>

    <td><a href="-/media/E7FA8CFF2DBB41118D562F9645A5F972.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 3 Bedroom Suite plans</a></td>
  </tr>
</table>


<h3 class="PricesSecondTitle">Phase II Prestige Apartments</h3>
<table class="table table-striped suitesPlan">
  <thead>
    <tr>
      <th>Suite Type</th>

      <th>Download Suite Plan</th>
    </tr>
  </thead>
  <tr>
    <td><h4>Studio Suite</h4></td>

    <td><a href="-/media/75A5AE45A45144B383160B5AC3F32C60.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Studio Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>1 Bedroom</h4></td>

    <td><a href="-/media/1AC4A6F5CBC04333BDB402D700BB50DD.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bedroom plans</a></td>
  </tr>
  <tr>
    <td><h4>2 Bedroom</h4></td>

    <td><a href="-/media/63547E3FAB9C477D95D610205D462F3B.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 2 Bedroom Suite plans</a></td>
  </tr>
  <tr>
    <td><h4>3 Bedroom</h4></td>

    <td><a href="-/media/0194995BF51E4B52AF706B69C5EB1ED9.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 3 Bedroom Suite plans</a></td>
  </tr>
</table>