<table class="table table-striped suitesPlan">
<thead>
	<tr> 
		<th>Types de suites</th>
		<th>Téléchargez les plans</th>
	</tr>
</thead>
<tr>
	<td><h4>Memory Care Studio</h4></td>
	<td><a href="-/media/90781465236442AE85CA524024EAD5B5.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
</tr>
<tr>
	<td><h4>Companion - Memory Care Suites</h4></td>
	<td><a href="-/media/74515E21608C47A89EDFD226092A516F.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des Companion - Memory Care</a></td>
</tr>
</table>