<table class="table table-striped suitesPlan">
<thead>
	<tr> 
		<th>Types de suites</th>
		<th>Téléchargez les plans</th>
	</tr>
</thead>
<tr>
	<td><h4>Studio</h4></td>
	<td><a href="-/media/03376D12E224490BB857C7025C9D3C03.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des studios</a></td>
</tr>
<tr>
	<td><h4>3 1/2</h4></td>
	<td><a href="-/media/C183CA81C9134442BD1574AFA85E291A.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 3 1/2</a></td>
</tr>
<tr>
	<td><h4>3 1/2 + Den</h4></td>
	<td><a href="-/media/ABFCFEC7E9A84FA5931F482994BD5955.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> 1 Bed. + Den Suite plans</a></td>
</tr>
<tr>
	<td><h4>4 1/2</h4></td>
	<td><a href="-/media/977126B5CCC34937BD43F3215996E4F8.ashx" target="_blank"><span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Les plans de planchers des 4 1/2</a></td>
</tr>
</table>