@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <!-- request from Thea (margin top and bottom)-->
            <img class="logoEn img-responsive" src="/Assets/Images/Layout/chart-logo-2014.png" alt="Chartwell Logo" />
        </div>
        <div class="col-sm-2 col-md-4"></div>
        <div class="col-xs-4 col-md-4 text-center hidden-print" style="padding: 10px;">
            @Html.Sitecore().Placeholder("Header.right")
            <input type="hidden" name="session" id="session" />
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Help Me Choose</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Care and Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Care Options</a></li>
                        <li><a href="#">Support Services</a></li>
                    </ul>
                </li>
                <li><a href="#">Active Living</a></li>
                <li><a href="#">Finance</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
              <li><a href="#">Careers</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Investor Relations</a>

              </li>
            </ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>